<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Agregar Materias</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a routerLink="inio">Inicio</a></li>
              <li class="breadcrumb-item active">Agregar Materias</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Datos de la Materia</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form [formGroup]="form" (ngSubmit)="addProduct()">
                <div class="card-body">
                  <div class="form-group">
                    <span *ngIf="form.get('nombreMateria')?.hasError('required') && form.get('nombreMateria')?.touched">
                      El campo nombre es <strong>requerido</strong>
                    </span>
                    <input formControlName="nombreMateria" type="text" class="form-control" placeholder="Ingrese nombre">
                  </div>
                  <div class="form-group">
                    <input formControlName="descripcion" type="text" class="form-control mt-2" placeholder="Ingrese descripcion">
                    <span *ngIf="form.get('descripcion')?.hasError('required') && form.get('descripcion')?.touched">
                        El campo descripcion es <strong>requerido</strong>
                    </span>
                  </div>
                  <div class="form-group">
                    <input formControlName="cuatrimestre" type="text" class="form-control mt-2" placeholder="Ingrese cuatrimestre">
                    <span *ngIf="form.get('cuatrimestre')?.hasError('required') && form.get('cuatrimestre')?.touched">
                        El campo price es <strong>requerido</strong>
                    </span>
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Aceptar</button>
                </div>
              </form>
            </div>
            <!-- /.card -->

          </div>
          <!--/.col (left) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>