<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Agregar Alumnos</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a routerLink="inio">Inicio</a></li>
              <li class="breadcrumb-item active">Agregar Alumnos</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Datos del Alumno</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <div >
                <div class="card-body">
                  <div class="form-group">
                    <label>Correo Institucional</label>
                    <input type="text" [(ngModel)]="correoInstitucional" class="form-control"  placeholder="Ingrese Correo Institucional">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" [(ngModel)]="password" class="form-control" placeholder="Ingrese password">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Repetir Password</label>
                    <input type="password" [(ngModel)]="confirmPassword" class="form-control" placeholder="Ingrese password de nuevo">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Nombre</label>
                    <input type="text" [(ngModel)]="nombre" class="form-control" placeholder="Ingrese Nombre">
                  </div>
                  <div class="form-group">
                    <label>Apellido</label>
                    <input type="text" [(ngModel)]="apellidoP" class="form-control" placeholder="Ingrese apellido">
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="button" (click)="addAlumno()" class="btn btn-primary btn-lg">Aceptar</button>
                </div>
              </div>
            </div>
            <!-- /.card -->

          </div>
          <!--/.col (left) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>